Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. Javascript
9. Php
10. Go
11. Ruby
12. Visual Basic

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. Keras
6. Seaqborn
7. Tensorflow
8. Py Torch
9. Apache Spark
10. Vegas
11. Big Dl
12. Ggplot2

|Data Science Tools|
|------------------|
|Anaconda          |
|Jupyter Notebooks |
|R Studio          |
|Spyder            |
|Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

# This will convert 200 minutes to hours by diving by 60
200//60

**Objectives:**
- Add comments to code cells
- Create markdown cells
- Add ordered and unordered lists to markdown cells
- Format content of markdown cells with heading styles

## Author
Jagadeesh